/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Roboto:wght@400;500;700;900&display=swap');


/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  font-size: 1.6rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

/* Landing Page Style */

.backgroud {
  background-color: rgb #5A2971;
}



/* Movie List Style */
.list__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem;
}

.list__container > div {
  width: 30%;
  margin-bottom: 3rem;
  border: 1px solid #FF3F00;
  padding: 1rem;
  border-radius: 15px;
}

.list__container > div > * {
  margin-bottom: 1.5rem;
}


/* NavBar Style */
.sidenav{

  background-color: #321142;
  color: #864CA1;
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}



